extends ../../layout.jade
block contenido
	div(class="container")
		h1 Mis fotos
		for imagen in imagenes
			.white.border.tr.large-padding
				.row
					.col-md-10
						h2= imagen.title
					.col-md-2
						nav
							a(href="/app/imagenes/#{imagen._id}/edit", class="right-space") Editar
							a(href="/app/imagenes/#{imagen._id}/") Eliminar