doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Socket Card Game
    link(href='main.css', rel='stylesheet')
  body
    button#debug-button Debug
    #debug
    #welcome
    #notify
    #lobby
      h2
        | Lobby (
        span#lobby-count 0
        | )
      ul#lobby-list
    #playground
      h2#playground-title  
      #playground-opponent
      #playground-battle
      #playground-cards
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script(src='client.js')
