extends ./layout.jade
block contenido
	.login-card
		h1 Log-in
		br
		form(action="/sessions",method="POST")
			div(form="form-group")
				label(for="email") Email
				input(type="text",align="center",name="email",placeholder="Email", id ="email",class="form-group")
			div(form="form-group")
				label(for="password") Contraseña
				input(type="password",name="password",placeholder="Contraseña", id ="password",class="form-group")
			div
				input(type="submit", value="Iniciar sesión", class="btn btn-info")
	.login-help
		a(href='/signup') No tengo cuenta
		|  • 
		a(href='#') Olvidé mi contraseña