extends ./layout.jade
block contenido
	.login-card
		h1 Sign up
		br
		form(action="/users",method="POST")
			div(form="form-group")
				label(for="email") Email
				input(type="text",align="center",name="email",placeholder="Email", id ="email",class="form-group")
			div(form="form-group")
				label(for="password") Contraseña
				input(type="password",name="password",placeholder="Contraseña", id ="password",class="form-group")
			div(form="form-group")
				label(for="password") Confirmar contraseña
				input(type="password",name="password_confirmation",placeholder="Confirmar contraseña", id ="password",class="form-group")
			div
				input(type="submit", value="Iniciar sesión", class="btn btn-info")
	.login-help
		a(href='/login') Ya tengo cuenta