doctype html
html
	head
		style
			include style.css
		title Truco
		//img(src='/images/travolta.gif' style="position:absolute; bottom:0px; right:125px;")
		//img(src='/images/snopp.gif' style="position:absolute; bottom:0px; right:1080px;")
		//img(src='/images/fort.gif' style="position:absolute; bottom:0px; right:0px;")
		//img(src='/images/party.gif' style="position:absolute; bottom:-12px; right:860px;")
		//img(src='/images/jesus.gif' style="position:absolute; bottom:0px; right:0px;")
		meta(name='viewport', content='width=device-width, initial-scale=1' charset="UTF-8")
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src='/socket.io/socket.io.js')
	body
		block content
		script(src='http://code.jquery.com/jquery.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')