extends layout
block content
	body.bkimgmeme
	div(class="remove-float center-block text-center big-top-space")
		.login-card.effect7
			h1 Movimiento inválido
			hr
			a(href='/play')
				button.btn.btn-default(type="button") Atrás