extends layout
block content
	div(class="remove-float center-block text-center big-top-space")
		.myacc-card.effect7
			if (g.currentRound.score[0]>=3)
				h2 Ganaste #{g.currentRound.player1}!
			else
				h2 Perdiste #{g.currentRound.player1}!	
			hr
			a(href='/lobby')
				button.btn.btn-primary(type='submit' class="right-space left-space") Lobby
			| 
			a(href='/myacc')
				button.btn.btn-default(type="button") Salir
